meta {
  -theme-interface-style: light;
  -theme-vibrancy: vibrant;
  -theme-accent-color: auto;
}

meta.document {
  background-color: white;
  color: black;
}

meta.text {
  color: black;
}

/* TODO: style doc comments differently */
comment {
  color: #664;
  background-color: rgba(255, 255, 192, 0.5);
}

/* TODO: commas separating arguments in functions */
/* TODO: commas separating selectors in CSS */
/* TODO: colons in Python */
/* TODO: colons, semicolons in CSS */
bracket,
operator,
keyword,
tag,
declaration {
  color: #888;
}

tag.name,
tag.attribute.name,
tag.attribute.value {
  color: #333;
}

/* TODO: style Python docstrings differently */
string {
  color: #333;
  background-color: rgba(230, 230, 230, 0.5);
}

class.name,
type.name,
package.name,
enum.name,
union.name,
struct.name,
property.name,
function.name,
method.name,
variable.name,
constant.name,
style.selector {
  font-weight: bold;
}

/*
class.name {
    background-color: hsb(320, 20%, 100%);
}

class.name.css {
    background-color: none;
}

function.name, method.name {
    background-color: hsb(120, 20%, 100%);
}
*/
/* Markup */

markup.heading {
  font-weight: bold;
}

markup.bold {
  font-weight: bold;
}

markup.italic {
  font-style: italic;
}

markup.link,
tag.attribute.value.link {
  color: blue;
  text-decoration: underline;
}
